# Kaggle datasets folder
/data

# pycache
*.pyc
/__pycache__

# vscode
*.vscode

# pytest
.pytest_cache

.DS_Store

# submission files
*.csv
*.pkl

# saved models
models

# dist files
/ktools.egg-info/
/build
/dist
**/lightning_logs/*
lightning_logs/
lb_cv_tables/

**/mlflow.db
mlruns/

**/.env
