pandas
numpy
scikit-learn
ipykernel
matplotlib
seaborn
xgboost
catboost
optuna
scipy
lightgbm
pytest
kaggle
autogluon.tabular
parameterized
scipy
torch==2.3.1 
torchvision==0.18.1 
torchaudio==2.3.1 
pytorch-tabular
lightning
hillclimbers
pytorch-tabnet
tensorflow
pydot
openfe
lightautoml
h2o
flaml
ydf
lifelines
gpytorch
shap
rich