pandas
numpy==1.26
scikit-learn==1.4
ipykernel
matplotlib
seaborn
xgboost
catboost
optuna
scipy
lightgbm
pytest
kaggle
autogluon.tabular
parameterized
scipy
torch
torchvision
torchaudio
hillclimbers
pytorch-tabnet